@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Titan+One&display=swap');

*{
    font-size: x-large;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

:root{
    --cor-menu: #f98da8;
    --primeiro-azul: #129990;
    --secunda-azul: #FFE100;
    --terceiro-azul: #FF9B00;
    --quarto-azul: #DC143C;
    --fonte-botao: 'Poppins', sans-serif;
}

#botao_facil{
    background-color: var(--primeiro-azul);
    border-radius: 20px;    
}

#botao_medio{
    background-color: var(--secunda-azul);
    border-radius: 20px;
}

#botao_dificil{
    background-color: var(--terceiro-azul);
    border-radius: 20px;
}

#botao_impossivel{
    background-color: var(--quarto-azul);
    border-radius: 20px;
}

#botao_impossivel:hover{
    background-color: #ff6b89;
    color: #DC143C;
    border-radius: 20px;
}

#botao_menu{
    background-color: var(--cor-menu);
    border-radius: 20px;
}
#botao_menu:hover{
    background-color: #ffcdda;
    color:#f98da8;
    border-radius: 20px;
}

h1{
    font-size: 60px;
    color: white;
    font-family: "Poetsen One", 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px #074f4a;
}

body {
    background-color: #129990;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    background-image: url(../img/Docinho.webp);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 98% 55%;
}

nav {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    margin-left: 25.3%;
    box-shadow: 0 0 12px #249a73;
}

nav:hover{
    box-shadow: 0 0 12px #95f0ea;
}

nav a {
    text-decoration: none;
    padding: 8px 25px;
    margin: 40px 15px;
    border-radius: 10px;
    color: white;
    font-family: var(--fonte-botao);
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 0 0 12px #249a73;
}
main:hover{
    box-shadow: 0 0 12px #95f0ea;
}
h2 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

table {
    width: 100%;
    margin: 30px 0;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

table td {
    padding: 15px;
    font-size: 16px;
}

table td:first-child {
    font-weight: bold;
}

.pergunta {
    background-color: #129990;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: white
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #006e67;
    font-size: 10px;
    background: linear-gradient(to right,#bfd4d3,#0ad3c5);
    padding: -100px;
    margin-top: 12%;
}

small{
    font-size: 0.7rem;
    text-shadow: none;
}

@media screen and (max-width: 768px) {
    main {
        margin: 20px;
        padding: 15px;
    }

    table td {
        font-size: 14px;
        padding: 10px;
    }
}

#answer-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 99.5%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition:  all 0.3s;
    display: flex;
    align-items: center;
    justify-content: left;
}
.btn:hover:not([disabled]){
    background:#c5e9e6;
    color:#006e67;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #37b8a3;
    color:#fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 20px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #00c21a;
    color:#00ff22;
}

.incorrect{
    background: #d80000;
    color:#ff8888;
}

#question{
    margin-left: 15px;
    font-size: 1.5rem;
    font-family:  sans-serif;
    text-align: left;
    color: #ffffff;

}
