@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primeiro-azul: #129990;
    --secunda-azul: #FFE100;
    --terceiro-azul: #FF9B00;
    --quarto-azul: #DC143C;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:linear-gradient(-97.54deg, #FEBBCC, #f98da8);
}
nav{
    margin: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    text-decoration: none;
    padding: 8px 25px;
    margin: 40px 15px;
    border-radius: 10px;
    color: white;
}
h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: "Spicy Rice", 'Times New Roman', Times, serif;
    color: #f98da8;
    background-color: #FFEECC;
}
.subtitulo{
    margin: 2rem 12rem;
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    
    color:#FFEECC;
}
.texto_main {
    margin: 0 12rem;
    font-size: 1.5rem;
    color: white;
}
#texto_main2{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}
#botao_facil{
    background-color: var(--primeiro-azul);
}
#botao_medio{
    background-color: var(--secunda-azul);
}
#botao_dificil{
    background-color: var(--terceiro-azul);
}
#botao_impossivel{
    background-color: var(--quarto-azul);
}
footer{
    padding: 30px;
    background-color: #FFEECC;
    text-align: center;
}
small{
    color:#f98da8;
    

}
