

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Titan+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primeiro-azul: #129990;
    --secunda-azul: #FFE100;
    --terceiro-azul: #FF9B00;
    --quarto-azul: #DC143C;
    --font-principal: "Sansation", sans-serif;
    --fonte-botao: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../img/florzinha-fundo.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: -100px 80%;
    background-color: #f98da8;
    
}
main{
    margin-bottom: auto;
    
}
.main-textos{
    background-color: #ab254661;
    margin: 3rem 20rem;
    border-radius: 50px;
    box-shadow: 0 0 12px rgb(255, 244, 128, 0.5);
    padding-bottom: 2rem;
}

.main-textos:hover{
    box-shadow: 0 0 12px rgba(255, 0, 111, 0.875);
}

nav{
    margin: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    text-decoration: none;
    padding: 8px 25px;
    margin: 40px 15px;
    border-radius: 10px;
    color: white;
    font-family: var(--fonte-botao);
}

h1{
    text-align: center;
    font-size: 5rem;
    font-family: "Poetsen One", 'Times New Roman', Times, serif;
    color: #f98da8;
    background-color: #FFEECC;
    padding: 1rem;
    text-shadow: #d82854 3px 3px 3px;
}

.subtitulo{
    margin: 2rem 12rem;
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    color:#FFEECC;
}

.texto_main {
    margin: 0 12rem;
    font-size: 1.5rem;
    color: white;
    font-family: "Montserrat", sans-serif;
}

#texto_main2{
    color: #FFEECC;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-top: 3rem;
    font-size: 1.5rem;
    font-family: var(--font-principal);
}

.main-botoes{
    background-color: #ab254661;
    margin: 3rem 20rem;
    border-radius: 50px;
    box-shadow: 0 0 12px rgb(255, 244, 128, 0.5);
}

.main-botoes:hover{
    box-shadow: 0 0 12px rgb(255, 0, 111);
}

#botao_facil{
    background-color: var(--primeiro-azul);
    border-radius: 20px;
}

#botao_facil:hover{
    background-color:#30d6cb ;
    color:#0c6a64;
    border-radius: 20px;
}

#botao_medio{
    background-color: var(--secunda-azul);
    border-radius: 20px;
}

#botao_medio:hover{
    background-color: #fff6af;
    color: #FFE100;
    border-radius: 20px;
}

#botao_dificil{
    background-color: var(--terceiro-azul);
    border-radius: 20px;
}

#botao_dificil:hover{
    background-color: #fec46d;
    color: #FF9B00;
    border-radius: 20px;
}

#botao_impossivel{
    background-color: var(--quarto-azul);
    border-radius: 20px;
}

#botao_impossivel:hover{
    background-color: #ff6b89;
    color: #DC143C;
    border-radius: 20px;
}

footer{
    background-color: #FFEECC;
    text-align: center;
}
 
small{
    color:#f98da8;
    font-size: 1.5rem;
}
