@import url('facil.css');
@import url('medio.css');
@import url('dificil.css');
@import url('impossivel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    padding: 10px;
    background-color: #90e3e0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFBDE;
}
nav{
    margin: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    text-decoration: none;
    padding: 8px 18px;
    margin: 40px 15px;
    border-radius: 10px;
    color: white;
}
h1{
    margin: 2.5%;
    text-align: center;
    font-size: 3.2rem;
    font-family: "Spicy Rice", 'Times New Roman', Times, serif;
    color: #129990;
    text-shadow: 7px 5px 5px#05413f;

}
h2{
    margin-top: 20px;
    color: #90D1CA;
    text-align: center;
    font-size: 1.75rem;
    font-family:  "Spicy Rice", 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px#0d6963;

}
.Pergunta{
    margin: 2rem 0;
    margin-left: 15px;
    font-size: 1.5rem;
    font-family:  sans-serif;
    text-align: left;
    color: #3fb2aa;
}
p{
    margin-left: 15px;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: left;
    color: #1c8a96;
}

.botao_link{
    background-color: rgb(0, 176, 0);
}

footer{
    padding: 30px;
    background-color: #096b68;
    text-align: center;
}
small{
    color: #FFFBDE;
}