
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');

*{
    font-size: x-large;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

:root{
    --cor-menu: #f98da8;
    --primeiro-azul: #129990;
    --secunda-azul: #FFE100;
    --terceiro-azul: #FF9B00;
    --quarto-azul: #DC143C;
}

#botao_facil{
    background-color: var(--primeiro-azul);
    border-radius: 20px;
}

#botao_medio{
    background-color: var(--secunda-azul);
    border-radius: 20px;
}

#botao_dificil{
    background-color: var(--terceiro-azul);
    border-radius: 20px;
}

#botao_impossivel{
    background-color: var(--quarto-azul);
    border-radius: 20px;
}

#botao_impossivel:hover{
    background-color: #ff6b89;
    color: #DC143C;
    border-radius: 20px;
}

#botao_menu{
    background-color: var(--cor-menu);
    border-radius: 20px;
}

h1{
    font-size: 60px;
    color: white;
    font-family: "Spicy Rice", 'Times New Roman', Times, serif;
}

body {
    background-color: #FFE99A;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    background-image: url(../img/lindinha.png);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: -140px 60%;
}

nav {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    margin-left: 25.3%;
}
/* #input{
    background-color: #00c21a;
} */

nav a {
    text-decoration: none;
    padding: 8px 25px;
    margin: 40px 15px;
    border-radius: 10px;
    color: white;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

table {
    width: 100%;
    margin: 30px 0;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

table td {
    padding: 15px;
    font-size: 16px;
}

table td:first-child {
    font-weight: bold;
}

.pergunta {
    background-color: #FFE99A;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: white
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #e9b600;
    font-size: 10px;
    background: linear-gradient(to right,#fff5dd,#ffeeb0);
    padding: -100px;
}

small{
    font-size: 0.7rem;
    text-shadow: none;
}

@media screen and (max-width: 768px) {
    main {
        margin: 20px;
        padding: 15px;
    }

    table td {
        font-size: 14px;
        padding: 10px;
    }
}

#answer-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.input{
    padding: 15px 290px;
    border-radius: 20px;
}
.input:hover{
    border: #ec4365;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 99.5%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition:  all 0.3s;
    display: flex;
    align-items: center;
    justify-content: left;
}
.btn:hover:not([disabled]){
    background:#fff5be;
    color:#e9b600;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #37b8a3;
    color:#fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 20px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #00c21a;
}

.incorrect{
    background: #d80000;
}

#question{
    margin-left: 15px;
    font-size: 1.5rem;
    font-family:  sans-serif;
    text-align: left;
    color: #ffffff;

}
